<form class="max-w-sm mx-auto max-h-screen my-10" [formGroup]="formGroup">

  <div class="flex flex-col gap-5 border-2 border-gray-300 rounded-lg p-5">
      <form [formGroup]="beneficiaryInfoFormGroup">
        <div class="mb-5">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Nombre del beneficiario</label
          >
          <input
            formControlName="beneficiaryName"
            type="text"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@flowbite.com"
            required
          />
        </div>
        <div class="mb-5">
          <label
            for="number"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Numero de cuenta</label
          >
          <input
            formControlName="beneficiaryAccountNumber"
            type="number"
            id="number"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>
      </form>
      <div class="mb-5">
        <label

          for="transferAmount"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Monto a transferir</label
        >
        <input
          formControlName="amount"
          type="number"
          id="transferAmount"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
        <div class="flex items-start mb-5">
          <div class="flex items-center h-5">
            <input
              id="remember"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
              required
            />
          </div>
          <label
            for="remember"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Remember me</label
          >
        </div>
    </div>

    <button
      (click)="onSubmit()"
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Submit
    </button>
  </div>

  <div class="flex flex-col gap-5 border-2 border-gray-300 rounded-lg p-5 mt-10">
    <h2>
      Datos del formulario
    </h2>

    <pre class="bg-gray-100 rounded-lg p-5 overflow-auto">
      <code>{{ formGroup.value | json }}</code>
    </pre>

  </div>

</form>
