{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "semi": true,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "always",
  "bracketSameLine": false
} 